<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclebuddy">

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gogreen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gogreen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TipsActivity">
        </activity>

        <activity android:name=".CompostingActivity">
        </activity>

        <activity android:name=".ProfileActivity">
        </activity>

        <activity android:name=".RecyclingActivity">
        </activity>

        <activity android:name=".SearchActivity">
        </activity>

        <activity android:name=".SettingsActivity">
        </activity>

        <activity android:name=".SignupActivity">
        </activity>

        <activity android:name=".StoreActivity">
        </activity>

        <activity android:name=".TrashActivity">
        </activity>

    </application>

</manifest>